In [8]:
import pandas as pd

df_dia = pd.read_csv("f_diarias.csv")

In [9]:
df_dia.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
21925    False
21926    False
21927    False
21928    False
21929    False
Length: 21930, dtype: bool

In [10]:
df_dia[df_dia.duplicated()]

Empty DataFrame
Columns: [hotel_id, data_id, tipo_quarto, quartos_vendidos, adr_estimado, receita_diarias]
Index: []

In [11]:
import pandas as pd

df_inv = pd.read_csv("f_inventario_diario.csv")

In [12]:
df_inv.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
21925    False
21926    False
21927    False
21928    False
21929    False
Length: 21930, dtype: bool

In [13]:
df_inv[df_inv.duplicated()]

Empty DataFrame
Columns: [hotel_id, data_id, tipo_quarto, quartos_total, quartos_manutencao, quartos_disponiveis]
Index: []

In [14]:
import pandas as pd

df_pag = pd.read_csv("f_pagamentos.csv")

In [15]:
df_pag.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
31564    False
31565    False
31566    False
31567    False
31568    False
Length: 31569, dtype: bool

In [16]:
df_pag[df_pag.duplicated()]

Empty DataFrame
Columns: [pagamento_id, reserva_id, data_pagamento_id, forma_pagamento, valor_pago, status_pagamento, taxa_gateway]
Index: []

In [17]:
import pandas as pd

df_res = pd.read_csv("f_reservas.csv")

In [18]:
df_res.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
32075     True
32076     True
32077     True
32078     True
32079     True
Length: 32080, dtype: bool

In [19]:
df_res[df_res.duplicated()]

,reserva_id,data_reserva_id,data_cancelamento_id,motivo_cancelamento_id,checkin_id,checkout_id,hotel_id,hospede_id,canal_id,agencia_id,rate_plan_id,tipo_quarto,status,adultos,criancas,valor_previsto,desconto,moeda
32000,23101,20250315,20250319.0,2.0,20250324,20250328,1,9305,5,NaN,1,Suite,Cancelada,1,0,2656.00,0.00,BRL
32001,17363,20251120,NaN,NaN,20251231,20260105,4,768,3,1.0,1,Superior,Finalizada,1,1,2964.46,425.54,BRL
32002,8994,20250906,NaN,NaN,20251019,20251020,6,5222,1,NaN,4,Familia,Finalizada,2,1,439.49,0.00,BRL
32003,19567,20240607,NaN,NaN,20240608,20240612,4,11354,2,NaN,4,Standard,Finalizada,1,2,1321.46,0.00,EUR
32004,3799,20240110,NaN,NaN,20240119,20240120,4,5513,4,2.0,1,Standard,Finalizada,2,0,383.08,0.00,BRL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32075,2684,20240118,NaN,NaN,20240124,20240125,2,4916,5,NaN,4,Deluxe,Finalizada,2,2,487.25,0.00,BRL
32076,21255,20240724,NaN,NaN,20240801,20240803,1,5722,1,NaN,1,Deluxe,Finalizada,1,2,1128.11,0.00,BRL
32077,25301,20240529,NaN,NaN,20240610,20240611,5,2094,1,NaN,1,Standard,Finalizada,1,2,225.91,16.67,BRL
32078,10869,20250228,20250305.0,3.0,20250309,20250312,2,11906,5,NaN,1,Standard,Cancelada,2,0,782.05,0.00,BRL
32079,15432,20240523,20240524.0,5.0,20240527,20240531,6,8623,5,NaN,3,Familia,Cancelada,1,1,1291.48,0.00,BRL

In [ ]:
import pandas as pd

df_res = pd.read_csv("f_reservas.csv")